@model UserViewModel

@{
    ViewData["Title"] = "Greetings " + Model.Name;
}

<div>
    <dl class="row centered-row align-items-center justify-content-center ">
        <div class="col">
            <h1 class="text-center">HELLO @Model.Name !</h1>
        </div>
    </dl>
</div>

