@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row centered-row align-items-center justify-content-center">
    <div class="col" >
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" class="form-control" />
                <input type="submit" value="Say HELLO!" class="btn btn-outline-secondary" />
            </div>     
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
